<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  {{> "./src/towns.hbs"}}
  <script type="module" src="src/towns.js"></script>
</body>

</html>